{% load static %}
<div class="card" style="background: transparent; border-radius: 15px; box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); padding: 5px;">
    <div class="card-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <b>Forms and Invitations</b></h5>
    </div>
    <div class="card-body" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; ">
        <li><a href="https://heyzine.com/flip-book/30ef96188f.html">Placement Brochure</a></li>
        <hr></hr>
        <li><a href="{% static 'vpn/uploads/Job_Notification_Form.doc' %}">Job Notification Form</a>.</li>
    </div>
</div>
<br>