{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid wow fadeInLeft">

            <div class="section-header">
                <h1 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Functionaries</h1>
                <span class="section-divider"></span>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Training and Placement Officials</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/drsomesh.png' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Somesh Kumar Sharma</b>
                                <br> Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a>
                                <br>
                                <b>Phone no's:</b> 01972-254591 (Office), 09805715100 (Mobile)
                            </td>
                        </tr>
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/vivek.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Vivek Tiwari</b>
                                <br> Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a>
                                <br>
                                <b>Phone no's:</b> 01972-254591 (Office), - (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/drmanoj.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Manoj Kumar Yadav</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 08074911450 (Mobile)
                            </td>
                        </tr>
                        
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/Chandradev.png' %}" /></th>
                            <td style="vertical-align: middle;"><b>Sh. Chandradev Raj Singh</b>
                                <br>Senior Technician Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b>6396749869(Mobile)
                            </td>
                        </tr>
                        
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/atul.png' %}" /></th>
                            <td style="vertical-align: middle;"><b>Sh. Atul Negi</b>
                                <br>Junior Technician Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 8627862965 (Mobile)
                            </td>
                        </tr>
                        
                        <!-- <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/basant.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Basant Subba</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 9085371389 (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/santhosh.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr Santhosh Kumar Gugulothu</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 9666555871  (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/javishal.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Sh. Vishal Narota</b>
                                <br> Junior Assistant, Training & Placement Office NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:narotavishal@gmail.com" target="_top">narotavishal@gmail.com</a>
                                <br>
                                <b>Phone no:</b> 09816597949 (Mobile)
                            </td>
                        </tr> -->
                    </tbody>

                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">STUDENT POINT OF CONTACTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Hardik.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Hardik Sachdeva</b>
                                <br> Student Training and Placement - <b>Student Coordinator</b>
                                <br>
                                POINT OF CONTACT FOR <b> CIRCUITAL BRANCHES (CSE, MNC, ECE, EE, EP,CSE Dual,ECE Dual )</b>
                                <br>    
                                Contact No.<b> 8476092720 </b>
                            </td>
                        </tr>
                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Manpreet.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Manpreet Singh</b>
                                <br> Student Training and Placement - <b>Student Coordinator</b>
                                <br>
                                POINT OF CONTACT FOR <b> CORE BRANCHES (ME, CE, CH, MS,Architecture, MBA)</b>
                                <br>
                                Contact No.<b> 7876603406 </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}