{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid wow fadeInLeft">

            <div class="section-header">
                <h1 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Functionaries</h1>
                <span class="section-divider"></span>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Training and Placement Officials</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/drsomesh.png' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Somesh Kumar Sharma</b>
                                <br> Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a>
                                <br>
                                <b>Phone no's:</b> 01972-254591 (Office), 09805715100 (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/drmanoj.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Manoj Kumar Yadav</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 08074911450 (Mobile)
                            </td>
                        </tr>
                        
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/basant.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr. Basant Subba</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 9085371389 (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/santhosh.jpg' %}" /></th>
                            <td style="vertical-align: middle;"><b>Dr Santhosh Kumar Gugulothu</b>
                                <br>Assistant Faculty Incharge Training & Placement Office, NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a> , <a href="mailto:tponith@gmail.com" target="_top">tponith@gmail.com</a>
                                <br>
                                <b>Phone no's:</b> 9666555871  (Mobile)
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/javishal.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Sh. Vishal Narota</b>
                                <br> Junior Assistant, Training & Placement Office NIT Hamirpur (HP)
                                <br>
                                <b>Email id:</b> <a href="mailto:narotavishal@gmail.com" target="_top">narotavishal@gmail.com</a>
                                <br>
                                <b>Phone no:</b> 09816597949 (Mobile)
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Student Training and Placements Coordinators/Representatives 2018-19</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/rishabh.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Rishabh</b>
                                <br> Student Training and Placement - <b>Coordinator</b>
                                <br>
                                <b>Teams:</b> Technical Innovation and Support, Industry Interaction 
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/giriraj.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Giriraj Saigal</b>
                                <br> Student Training and Placement - <b>Coordinator (CSE Dual Degree)</b>
                                <br>
                                <b>Team:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/aditya.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Aditya Singh</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/atul.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Atul Sharma</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Chemical Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Chemical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/danish.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Danish Pachyala</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE Dual Degree)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/sandhali.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Sandhali Joshi</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>


                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/rahul.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Rahul</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>


                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/paarvi.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Paarvi Gupta</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/shubham.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Shubham Jain</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electrical & Electronics Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction, Technical Innovation and Support
                                <br>
                                <b>Department:</b> Electrical & Electronics Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/shekhar.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Shekhar Agrawal</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Civil Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Civil Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/shivam.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Shivam Sinha</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Chemical Engineering</b>
                                <br>
                                <b>Teams:</b> Technical Innovation and Support
                                <br>
                                <b>Department:</b> Chemical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/amit.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Amit Chambial</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE)</b>
                                <br>
                                <b>Team:</b> Technical Innovation and Support
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/ravi.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Ravi Ahuja</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Civil Engineering)</b>
                                <br>
                                <b>Teams:</b> Technical Innovation and Support
                                <br>
                                <b>Department:</b> Civil Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/abhishek.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Abhishek Chanoria</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> Technical Innovation and Support
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/garima.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Garima</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Teams:</b> ARISE
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/sweta.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Sweta</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE)</b>
                                <br>
                                <b>Teams:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/suraj.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Suraj</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Teams:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/jaahnvi.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Jaahnvi</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Teams:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/amit.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Amit Chauhan</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Teams:</b> Technical Innovation and Support
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/siddhant.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Siddhant Garg</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> ARISE
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/anurag.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Anurag Thakur</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (CSE)</b>
                                <br>
                                <b>Teams:</b> ARISE
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/upender.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Upender</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Chemical Engineering)</b>
                                <br>
                                <b>Teams:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Chemical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/sai.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Alapati Sai Krishna</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> Recruitment Drive and Discipline
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/manika.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Manika Sunal</b>
                                <br> Student Training and Placement - <b>Coordinator (Electronics & Communication Engineering)</b>
                                <br>
                                <b>Teams:</b> Marketing Team
                                <br>
                                <b>Department:</b> Electronics & Communication Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/rohan.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Rohan Verma</b>
                                <br> Student Training and Placement - <b>Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> Marketing Team
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/rajat.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Rajat Sharma</b>
                                <br> Student Training and Placement - <b>Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> Marketing Team
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/akshit.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Akshit Sharma</b>
                                <br> Student Training and Placement - <b>Coordinator (Mechanical Engineering)</b>
                                <br>
                                <b>Teams:</b> Marketing Team
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;" src="{% static 'vpn/img/team/gautam.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Gautam</b>
                                <br> Student Training and Placement - <b>Coordinator (Civil Engineering)</b>
                                <br>
                                <b>Teams:</b> ARISE
                                <br>
                                <b>Department:</b> Civil Engineering
                            </td>
                        </tr>

                        


                    </tbody>
                </table>
            </div>

        </div>

    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}