{% load static %}
<link rel="stylesheet" href="{% static 'vpn/css/style.css' %}" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Training & Placement office NIT Hamirpur</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Training and Placement office NIT Hamirpur" name="keywords">
    <meta content="Training and Placement office NIT Hamirpur" name="description">

    <!-- Favicons -->
    <link href="{% static 'vpn/img/logo.png' %}" rel="icon">
    <link href="{% static 'vpn/img/logo.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'vpn/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'vpn/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vpn/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vpn/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vpn/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'vpn/css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/@studio-freight/lenis@latest/bundled/lenis.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>