{% load static %}
<div class="card" style="background: transparent; border-radius: 15px; box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); padding: 5px;">
    <div class="card-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <b>Internship Forms</b></h5>
    </div>
    <div style="height: auto;" class="card-body" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <li><a href="{% static 'vpn/uploads/list_of_Projects_-_2019.pdf' %}">List of projects for summer Training/Internship during 18.05.2019 to 22.07.2019 at NIT Hamirpur. <b>The deadline for submitting the application for the internship is 10/05/19.</b></a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/best_Internship_Project.pdf' %}">Best Internship Projects in their respective departments for session 2018-19.</a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Guidelines.pdf' %}">Guidelines & Procedure.</a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Request_Form.pdf' %}">Internship Request Form. </a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Undertaking_Form.pdf' %}">Internship Undertaking Form</a></li>
    </div>
</div>
<br>