{% load static %}
<div class="card" style="background: transparent; border-radius: 15px; box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); padding: 5px;">
    <div class="card-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <b>Internship Forms</b></h5>
    </div>

    <div style="height:auto; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; " class="card-body" >
        <li><a href="{% static 'vpn/uploads/Guidelines.pdf' %}">Guidelines & Procedure.</a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Request_Form.pdf' %}">Internship Request Form. </a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Undertaking_Form.pdf' %}">Internship Undertaking Form</a></li>
    </div>
</div>
<br>