{% load static %}
<div class="card">
    <div class="card-header">
        <b>Internship Forms</b></h5>
    </div>

    <div style="height: auto;" class="card-body">
        <li><a href="{% static 'vpn/uploads/Guidelines.pdf' %}">Guidelines & Procedure.</a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Request_Form.pdf' %}">Internship Request Form. </a></li>
        <hr>
        <li><a href="{% static 'vpn/uploads/Internship_Undertaking_Form.pdf' %}">Internship Undertaking Form</a></li>
    </div>
</div>
<br>