{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">

            <div class="row" style="margin-right: 7px;">
                <div class="col-lg-4 about-img wow fadeInLeft">

                    {% include "vpn/internship_form.html" %} {% include "vpn/placement_news.html" %} {% include "vpn/sidebar_slider.html" %}

                </div>

                <div class="col-lg-8 content wow fadeInRight card card-container">

                    <div class="section-header">
                        <h1 class="section-title">Internship Procedure for Internal students </h1>
                        <span class="section-divider"></span>
                        <p>The summarized view of Internship Procedure for Internal students at NIT Hamirpur is mentioned below:
                        </p>
                    </div>
                    <div class="container py-2">
                        <!-- timeline item 1 -->
                        <div class="row ">
                            <!-- timeline item 1 left dot -->
                            <!-- timeline item 1 event content -->
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #990000;color: white;" class="card-body">
                                        <h4 class="card-title">Step 1 -</h4>
                                        <p class="card-text">NIT Hamirpur sends invitation to companies to offer internship training to our students along with student database.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 3 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #FFD700;" class="card-body">
                                        <h4 class="card-title">Step 2 -</h4>
                                        <p>Companies shortlist the students based on their requirements and offer internship directly to students for the aimed period.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 4 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #990000;color: white;" class="card-body">
                                        <h4 class="card-title">Step 3 -</h4>
                                        <p>Companies visit NIT Hamirpur for <b>Training drive</b> which include the following steps:
                                            <br> ("Introductory presentation by company executives, Online exam OR Pen-Paper test and Final interviews").</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--container-->

                </div>
            </div>
        </div>
    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}