<div class="m_-8898283705246468575m_-8681307549533173222WordSection1">
<div align="center">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="0" style="width:600.0pt;border:solid windowtext 1.0pt">
<tbody>
<tr>
<td valign="bottom" style="border:none;">
<p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif"><img width="869" height="504" style="width:9.052in; height:5.25in" id="m_-8898283705246468575m_-8681307549533173222Picture_x0020_17" src="http://159.89.167.123/static/vpn/img/invitation.png"  data-image-whitelisted="" class="CToWUd a6T" tabindex="0"></span></p>
</td>
</tr>
<tr>
<td valign="top" style="border:none;background:#00a2e0;padding:0in 0in 0in 0in">
<div align="right">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:600.0pt">
<tbody>
<tr>
<td width="70" valign="top" style="width:52.5pt;padding:0in 0in 0in 0in">
</td>
<td valign="top" style="background:#00a2e0;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:495.0pt">
<tbody>
<tr>
<td valign="top" style="padding:0in 0in 0in 0in">

</td>
</tr>
<tr>
<td valign="top" style="padding:0.2in 0in 0.2in 0.2in">
<p class="MsoNormal" style="line-height:18.0pt"><b><span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white">Invitation from National Institute of Technology Hamirpur <u></u><u></u></span></b></p>
</td>
</tr>
</tbody>
</table>
</td>

</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td valign="top" style="border:none;background:#f2f2f3;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:605.55pt">
<tbody>
<tr>
<td width="70" valign="top" style="width:85.6pt;padding:0in 0in 0in 0in">

</td>
<td width="692" valign="top" style="width:518.95pt;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:518.95pt">
<tbody>
<tr>
<td valign="top" style="padding:0in 0in 0in 0in">

</td>
</tr>
<tr>
<td valign="top" style="padding:0in 0in 0in 0in">
<p class="MsoNormal" style="text-align:justify;line-height:15.0pt"><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#646363"><u></u>&nbsp;<u></u></span></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:0in 0in 0in 0in">
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#646363">Dear Sir/Madam,<u></u><u></u></span></p>
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#646363">Greetings from National Institue of Technology, Hamirpur (Himachal Pradesh)!</span></p>
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#646363">We would like to draw your kind attention towards the placement perspectives at National Institute of Technology Hamirpur. Our institution has been a favoured destination for organizations looking for bright engineers for recruitments. 
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#646363">The institute is presently running accredited (by National Board of Accreditation) undergraduate programmes in six branches of Engg. viz. Civil, Electrical, Mechanical, Electronics & Communication, Computer Science & Engg, Chemical Engineering, B. Arch. and Dual Degree (CSE). Besides this, institute offers M.Tech./M.Arch./MBA and Ph.D. programmes in various specializations of these engineering branches. Therefore, this endeavor of ours is to enlist your kind cooperation in finding suitable placement for our graduating
students.
</span></p>
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:Arial,sans-serif;color:#646363">Thus, we take immense pleasure in extending an invitation to your reputed organization to send a team of experts to this institute for bestowing and entrusting your precious knowledge of your organization to engender desirable placement opportunities on the surface. Your presence and association will give a substantial and earnest proclivity to achieve respective placement goals of the institute. On behalf of National Institute of Technology Hamirpur, I am very pleased to have the honor of extending all needful facilities during your valuable stay in the campus.<u></u><u></u></span></p>
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:Arial,sans-serif;color:#646363">The JNF and Brief Brochure are attached for the ready reference please.</span></p>
<p style="text-align:justify"><span style="font-size:11.0pt;font-family:Arial,sans-serif;color:#646363">We are looking forward for your ardent presence at NIT Hamirpur.<br><br><br>
</span></p>
</td>
</tr>
<tr>
<td valign="top">
<p class="m_-8898283705246468575m_-8681307549533173222Default" style="text-align:justify"><b><span style="font-size:11.0pt;font-family:Arial,sans-serif;color:#646363; line-height: 1.5;">Regards,<br>
	Dr. Somesh Kumar Sharma<br>
	Faculty In-charge (Training & Placement)<br>
	National Institute of Technology, Hamirpur (H.P.)<br>
	Mobile : +91 9805715100<br>
	Office : +91 1972254591<br>
	Emails : <a href="mailto:tpo@nith.ac.in" style="text-decoration:none;color: inherit;" target="_top">tpo@nith.ac.in</a>, <a href="mailto:tponith@gmail.com" style="text-decoration:none;color: inherit;" target="_top">tponith@gmail.com</a>
</span></b></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:0.2in 0in 0in 0in"></td>
</tr>
</tbody>
</table>
</td>

</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="top" style="border:none;background:#fada26;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:596.0pt;background:white">
<tbody>
<tr>
<td width="870" style="width:593.5pt;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:624.75pt">
<tbody>
<td width="870" style="width:624.75pt;padding:0in 0in 0in 0in">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:652.5pt">
<tbody>
<tr>
<td width="30" style="width:22.5pt;padding:0in 0in 0in 0in">
</td>
<td style="padding:0in 0in 0in 0in">
<div align="center">
<table class="m_-8898283705246468575m_-8681307549533173222MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:570.0pt">
<tbody>
<tr style="height:37.5pt">
<td width="586" style="width:427.5pt;padding:0in 0in 0in 0in;height:37.5pt">
<p class="MsoNormal" style="text-decoration: none;" target="_blank"><span style="font-size:10.0pt;font-family:Arial,serif;">Link to our Training and Placements website: <a href="http://tpo.nith.ac.in/" style="text-decoration:none" target="_blank"><b>http://tpo.nith.ac.in</b></span></a></p>
</td>
</tr>
</tbody>
</table>
</div>
</td>

</tr>
<tr>
<td style="background:#00a2e0;"></td>
<td width="80" style="width:60.0pt;background:#00a2e0;">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>