{% load static %}

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container disp">

            <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto"><img src="{% static 'vpn/img/new-logo.png' %}" alt="Office of Training and Placement, NIT Hamirpur" title="Office of Training and Placement, NIT Hamirpur"></a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu disp">
                    <li class="menu-has-children menu-active"><a href="#">Home</a>
                        <ul>
                            <li><a href="/directors-desk/">Director's Desk</a></li>
                            <li><a href="/registrar/">Registrar's Desk</a></li>
                            <li><a href="/training-Placement-Office/">Training and Placement Office</a></li>
                            <li><a href="/functionaries/">Office Functionaries</a></li>
                            <li><a href="/student-functionaries/">Student Functionaries</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="#">Placements</a>
                        <ul>
                            <li><a href="/placement-procedure/">Placement Procedure</a></li>
                            <li><a href="/placement-record/">Placement Record</a></li>
                            <li><a href="/past-recruiters/">Past Recruiters</a></li>
                            <li><a href="/facilities/">Facilities for Recruiters at NIT Hamirpur</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="#">Internship</a>
                        <ul>
                            <li><a href="/internship-procedure/">Internship Procedure for Internal students</a></li>
                            <li><a href="/training-internship-opportunities/">Training/Internship Opportunities at NITH</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="#">Prospective Students</a></li> -->
                    <li class="menu-has-children"><a href="#">Miscellaneous</a>
                        <ul>
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/how-to-reach/">How To Reach NIT Hamirpur</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->