{% load static %}
<div class="card">
    <div class="card-header">
        <b>Placement Briefs at NIT Hamirpur</b></h5>
    </div>
    <div class="card-body">
        <marquee behavior="scroll" direction="up" scrollamount="2" scrolldelay="10" onmouseover="this.stop();" onmouseout="this.start();">
            <li>The highest package has reached up to Rs. 62.50 Lacs Per Annum for the Computer Science & Engineering student.</li>
            <hr>
            <li>The placement index for the session 2017-18 is culminated as 78%.</li>
            <hr>
            <li>The Average package offered for the session 2017-2018 is 5.82 Lacs PA.</li>
        </marquee>
    </div>
</div>
<br>