{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-4 about-img wow fadeInLeft">

                    {% include "vpn/forms_invitations.html" %} {% include "vpn/placement_news.html" %} {% include "vpn/sidebar_slider.html" %}

                </div>

                <div class="col-lg-8 content wow fadeInRight card">

                    <div class="section-header">
                        <h1 class="section-title">Placement Procedure</h1>
                        <span class="section-divider"></span>
                        <p>Placement procedure at NIT Hamirpur is a 5 steps process, with the steps mentioned below:</p>
                    </div>

                    <div class="container py-2">

                        <!-- timeline item 1 -->
                        <div class="row ">
                            <!-- timeline item 1 left dot -->
                            <!-- timeline item 1 event content -->
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #52BE80;" class="card-body">
                                        <h4 class="card-title">Step 1 -</h4>
                                        <p class="card-text">NIT Hamirpur invites the companies for placement drives.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 3 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #F1c40f;" class="card-body">
                                        <h4 class="card-title">Step 2 -</h4>
                                        <p>Companies share the Filled JNF Form.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 3 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #52BE80;" class="card-body">
                                        <h4 class="card-title">Step 3 -</h4>
                                        <p>We share the database of students as per the eligibility criteria.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 3 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #F1c40f;" class="card-body">
                                        <h4 class="card-title">Step 4 -</h4>
                                        <p>Companies shortlist the students based on their requirements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 4 -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card">
                                    <div style="background-color: #52BE80;" class="card-body">
                                        <h4 class="card-title">Step 5 -</h4>
                                        <p>Companies visit NIT Hamirpur for Recruitment drive which includes the following steps:
                                            <br> (Introductory Presentation by Company Executives, On Line Exam or Paper-Pen test, Group Discussion and Final Interviews).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--container-->

                </div>
            </div>

        </div>
    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}