{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">

            <div class="row" style="margin-right: 7px;">
                <div class="col-lg-4 about-img wow fadeInLeft">

                    {% include "vpn/forms_invitations.html" %} {% include "vpn/placement_news.html" %} {% include "vpn/sidebar_slider.html" %}

                </div>

                <div class="col-lg-8 content wow fadeInRight card card-container">

                    <div class="section-header">
                        <h1 class="section-title">Placement Procedure</h1>
                        <span class="section-divider"></span>
                        <p>Placement procedure at NIT Hamirpur is a 5 steps process, with the steps mentioned below:</p>
                    </div>




                    <div class="container py-2">
                        <!-- Timeline items -->
                        <div class="row">
                            <div class="col py-2">
                                <div class="card" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(15px) saturate(150%); border-radius: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); border: 1px solid rgba(255, 255, 255, 0.2);">
                                    <div style="background-color: rgba(82, 190, 128, 0.85); border-radius: 20px; padding: 20px;">
                                        <h4 class="card-title">Step 1 -</h4>
                                        <p class="card-text">NIT Hamirpur invites the companies for placement drives.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col py-2">
                                <div class="card" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(15px) saturate(150%); border-radius: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); border: 1px solid rgba(255, 255, 255, 0.2);">
                                    <div style="background-color: rgba(241, 196, 15, 0.85); border-radius: 20px; padding: 20px;">
                                        <h4 class="card-title">Step 2 -</h4>
                                        <p>Companies share the Filled JNF Form.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col py-2">
                                <div class="card" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(15px) saturate(150%); border-radius: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); border: 1px solid rgba(255, 255, 255, 0.2);">
                                    <div style="background-color: rgba(82, 190, 128, 0.85); border-radius: 20px; padding: 20px;">
                                        <h4 class="card-title">Step 3 -</h4>
                                        <p>We share the database of students as per the eligibility criteria.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col py-2">
                                <div class="card" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(15px) saturate(150%); border-radius: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); border: 1px solid rgba(255, 255, 255, 0.2);">
                                    <div style="background-color: rgba(241, 196, 15, 0.85); border-radius: 20px; padding: 20px;">
                                        <h4 class="card-title">Step 4 -</h4>
                                        <p>Companies shortlist the students based on their requirements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col py-2">
                                <div class="card" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(15px) saturate(150%); border-radius: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); border: 1px solid rgba(255, 255, 255, 0.2);">
                                    <div style="background-color: rgba(82, 190, 128, 0.85); border-radius: 20px; padding: 20px;">
                                        <h4 class="card-title">Step 5 -</h4>
                                        <p>Companies visit NIT Hamirpur for Recruitment drive which includes the following steps:
                                            <br> (Introductory Presentation by Company Executives, Online Exam or Paper-Pen test, Group Discussion and Final Interviews).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        




                </div>
            </div>

        </div>
    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}