{% load static %}
<div class="card" style="background: transparent; border-radius: 15px; box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); padding: 5px;">
    <div class="card-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <b>Placement Briefs at NIT Hamirpur</b></h5>
    </div>
    <div class="card-body" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; ">
        <marquee behavior="scroll" direction="up" scrollamount="3" scrolldelay="5" onmouseover="this.stop();" onmouseout="this.start();">
            <li>The highest package has reached up to Rs. 58 Lacs Per Annum for the Computer Science & Engineering student.</li>
            <hr>
            <li>The placement index for the session 2023-24 is culminated as 81.18%.</li>
            <hr>
            <li>The Average package offered for the session 2023-2024 is 10.02 Lacs PA.</li>
        </marquee>
    </div>
</div>
<br>