{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid wow fadeInLeft">

            <div class="section-header">
                <h1 class="section-title">How to Reach NIT Hamirpur</h1>
                <span class="section-divider"></span>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3394.2752418147197!2d76.52516731454533!3d31.708375545008057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3904d414e88eebe1%3A0x7f63dccd0087fb94!2sNational+Institute+Of+Technology%2C+Hamirpur!5e0!3m2!1sen!2sin!4v1528567908642" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <div class="col py-2">
                <div class="card">
                    <div style="background-color: #52BE80; text-align: justify;" class="card-body">
                        <h4 class="card-title">Air Link -</h4>
                        <p class="card-text">NIT Hamirpur is located with a journey duration of 1hr from Dharamshala Airport which is directly connected to New Delhi Airport through various flights of Air India & Spice Jet, with a flight duration of 1hr.
                            <br> NIT Hamirpur is also conected to Chandigarh Airport with a beautiful journey duration of nearly 3.3hrs. Chandigarh Airport is connected to most of the airports of the country with variety of flights.
                            <br>
                            <br>
                            <span class="blink_me">Our vehicles will be available on both the Airports to pick and drop with prior intimation.</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card">
                    <div style="background-color: #F1c40f; text-align: justify;" class="card-body">
                        <h4 class="card-title">Rail Link -</h4>
                        <p class="card-text">The nearest broad gauge train head is at Una(Himachal Pradesh) which is at a beautiful journey duration of nearly 2.3hrs.
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card">
                    <div style="background-color: #7f8c8d; text-align: justify;" class="card-body">
                        <h4 class="card-title">Road Link -</h4>
                        <p class="card-text">The campus is situated at Anu in Hamirpur district of Himachal Pradesh and is a 10min drive from the main bus stand of Hamirpur at Hamirpur-Awah devi road. The city of Hamirpur is well connected with rest of the country by road.
                            <br>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}