{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">

            <div class="row" style="margin-right: 7px;">
                <div class="col-lg-4 about-img wow fadeInLeft">

                    {% include "vpn/sidebar_slider.html" %} {% include "vpn/placement_breifs.html" %} {% include "vpn/placement_news.html" %}

                </div>

                <div class="col-lg-8 content wow fadeInRight card border-light card-container">
                    <div class="section-header">
                        <h1 class="section-title">Past Recruiters</h1>
                        <span class="section-divider"></span>
                        <br>
                        <br>
                        <center>
                            <!--Carousel Wrapper-->
                            <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

                                <!--Controls-->
                                <div class="controls-top">
                                    <a style="float: left;" class="black-text" href="#multi-item-example" data-slide="prev"><i class="fa fa-angle-left fa-3x pr-3"></i> Previous</a>
                                    <a style="float: right;" class="black-text" href="#multi-item-example" data-slide="next"> Next<i class="fa fa-angle-right fa-3x pl-3"></i></a>
                                </div>
                                <!--/.Controls-->

                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/accen.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/ang.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/bloomberg.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/accen.png' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/cap.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/godrej.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/hsbc.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/ibm.png' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/lntin.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/maruti.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/oracle.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/samsung.png' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/infosys.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/jio.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/jp.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/lnt.jpg' %}">
                                            </div>
                                        </div>

                                    </div>
                                    <!--/.First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/infosys.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/jio.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/jp.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/lnt.jpg' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/wipro.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/united.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/uhg.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/sap.png' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/cap.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/godrej.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/hsbc.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/ibm.png' %}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/lntin.png' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/maruti.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/oracle.jpg' %}">
                                            </div>
                                            <div class="col-md-3">
                                                <img class="img-fluid" src="{% static 'vpn/img/companies/samsung.png' %}">
                                            </div>
                                        </div>

                                    </div>
                                    <!--/.Second slide-->

                                </div>
                                <!--/.Slides-->

                            </div>
                            <!--/.Carousel Wrapper-->
                        </center>
                    </div>
                </div>
    </section>

    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}