{% load static %}
<div class="card">
    <div class="card-header">
        <b>Register on National Career Service</b></h5>
    </div>
    <div class="card-body-wrap">
        <p style="text-align: justify;">
        National Career Service (NCS) portal is a new initiative by the Ministry of Labour and Employment, Government of India. It is a common platform that brings together stakeholders like Job Seekers, Employers, Counselors, Local Service Providers and Trainers to facilitate in convergence of information and link job seekers with jobs. The NCS portal is free-to-use portal and has a hassle-free registration process for the students. As per the directions of competent authority, all the students passing out from NIT Hamirpur are recommended hereby to register on the portal via the following link so that they have a one-stop shop for career related services. 
        <a href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx" target="_blank"><button class="btn"><b>Register here</b></button></a>
        </p>
    </div>
</div>
<br>