{% load static %}
<div class="card" style="background: transparent; border-radius: 15px; box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); padding: 5px;">
    <div class="card-header" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <b>Register on National Career Service</b>
    </div>
    <div class="card-body-wrap" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; ">
        <p style="text-align: justify;">
            National Career Service (NCS) portal is a new initiative by the Ministry of Labour and Employment, Government of India. It is a common platform that brings together stakeholders like Job Seekers, Employers, Counselors, Local Service Providers, and Trainers to facilitate convergence of information and link job seekers with jobs. The NCS portal is free-to-use and has a hassle-free registration process for students. As per the directions of the competent authority, all students passing out from NIT Hamirpur are recommended to register on the portal via the following link so that they have a one-stop shop for career-related services.
        </p>
        <div style="text-align: center; margin-top: 20px; margin-bottom: 15px;">
            <a href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx" target="_blank">
                <button class="btn-custom"><b>Register Here</b></button>
            </a>
        </div>
    </div>
</div>
<br>

<!-- Button Styling -->
<style>
    .btn-custom {
        background: linear-gradient(135deg , #A52A2A,#740021);
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        letter-spacing: 0.5px;
    }

    .btn-custom:hover {
        background: linear-gradient(135deg,  #740021 ,#A52A2A);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }
</style>
