{% load static %} {% include "vpn/header.html" %} {% include "vpn/navbar.html" %}

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid wow fadeInLeft">

            <div class="section-header">
                <h1 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Functionaries</h1>
                <span class="section-divider"></span>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Student Training and Placements Coordinators/Representatives 2024-25</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Hardik.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Hardik Sachdeva</b>
                                <br> Student Training and Placement - <b>Student Coordinator</b>
                                <br>
                                <b>Teams:</b> Industry Interaction 
                                <br>    
                                <b>Department:</b> Mathematics and Scientific Computing
                            </td>
                        </tr>
                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Manpreet.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Manpreet Singh</b>
                                <br> Student Training and Placement - <b>Student Coordinator</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Mechanical Engineering
                            </td>
                        </tr>



                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Aditya.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Aditya Rana</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Computer Science)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Computer Science
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Gagan.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Gagan Pratap Singh</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Computer Science)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Computer Science and Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Mehul.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Mehul Aggarwal</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Mathematics and Scientific Computing)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Mathematics and Scientific Computing
                            </td>
                        </tr>


                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Aman.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Aman Asrani</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics and Communication Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Electronics and Communication Engineering
                            </td>
                        </tr>
                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Akash.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Akash</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electronics and Communication Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Electronics and Communication Engineering
                            </td>
                        </tr>


                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Urvish.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Urvish Jat</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electrical Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Electrical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Rashmi.jpeg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Rashmi Sehgal</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Electrical Engineering)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Electrical Engineering
                            </td>
                        </tr>


                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Shivansh.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Shivansh Handa</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Civil Engineering) </b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Civil Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Antriksha.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Antriksha Mehta</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Civil Engineering) </b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Civil Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Tushar.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Tushar </b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Chemical Engineering) </b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Chemical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Uday.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Uday Aggarwal</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Chemical Engineering) </b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Chemical Engineering
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Ashmit.png' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Ashmit Gupta</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Physics and Protonic Science) </b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Physics and Protonic Science
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Manan.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Manan</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Architecture)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Architecture
                            </td>
                        </tr>

                        <tr>
                            <th><img style="width: 300px;height: 300px;" src="{% static 'vpn/img/TPR_Images/Briti.jpg' %}" /></th>
                            <td style="vertical-align: middle;">
                                <b>Briti Mehta</b>
                                <br> Student Training and Placement - <b>Branch Coordinator (Architecture)</b>
                                <br>
                                <b>Team:</b> Industry Interaction
                                <br>
                                <b>Department:</b> Architecture
                            </td>
                        </tr>



                        


                    </tbody>
                </table>
            </div>

        </div>

    </section>
    <!-- #about -->
    {% include "vpn/company_slider.html" %}

</main>

{% include "vpn/footer.html" %}